.filter-chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 12px;
    background-color: #272626;
    border: 1px solid #272626;
    margin: 0 5px 10px 0;
    border-radius: 8px;
    cursor: pointer;
    &.active{
      background: #727171;
    }
  }
  