<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="profileForm"
      (ngSubmit)="onEdit()">
        <div class="form-control-group">
          <label for="">Email</label>
          <input
          formControlName="email" class="form-control" type="text">
        </div>
         <!-- Name Field -->
         <div class="form-control-group">
          <label for="name">Nombre</label>
          <input id="name" formControlName="name" class="form-control" type="text" />
        </div>

        <!-- Phone Field -->
        <div class="form-control-group">
          <label for="phone">Teléfono</label>
          <input id="phone" formControlName="phone" class="form-control" type="text" />
        </div>

        <!-- Nickname Field -->
        <div class="form-control-group">
          <label for="nickname">Nickname</label>
          <input id="nickname" formControlName="nickname" class="form-control" type="text" placeholder="@nickname" />
        </div>

        <!-- Link Field -->
        <div class="form-control-group">
          <label for="link">Enlace</label>
          <input id="link" formControlName="link" class="form-control" type="url" placeholder="https://example.com" />
        </div>

        <!-- Occupation Field -->
        <div class="form-control-group">
          <label for="ocupation">Ocupación</label>
          <input id="ocupation" formControlName="ocupation" class="form-control" type="text" />
        </div>

        <!-- Description Field -->
        <div class="form-control-group">
          <label for="description">Descripción</label>
          <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
        </div>

        <!-- Portrait Photo Field -->
       <!--  <div class="form-control-group">
          <label for="portraitPhoto">Foto de perfil</label>
          <input id="portraitPhoto" formControlName="portraitPhoto" class="form-control" type="file" />
        </div> -->
        <button type="submit" class="btn btn-primary">
          Actualizar Perfil
        </button>
      </form>
    </div>
  </div>
</div>
